
@{
}

<div class="text-center">
    <h1 class="display-4">Instant Courier Service</h1>
    <small style="opacity:0.6">Courier Management System </small>
    <hr />
</div>

<marquee style="background-color:orangered ;color:aliceblue; border-radius:10px;"><h4>Welcome to Instant Courier Service. You can place order to send a courier from any where anytime.</h4></marquee>


<br />
<br />
<br />
<h2>Why Instant Courier Service? </h2>

<ul class="list-group">
    <li class="list-group-item">Enjoy global customer flexibility</li>
    <li class="list-group-item">Customer registration is a hassle from the customer endppoint</li>
    <li class="list-group-item">Don't be registered and be secured</li>
    <li class="list-group-item">Just give us the delivery credentials to deliver the items</li>
    <li class="list-group-item">We priotize data security</li>
</ul>

<br />
<br />

<div style="margin-left:12vw">
    <div  style="display:flex; gap:100px">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/cus.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Customer Panel</h5>
                <p class="card-text">Cusotmers can easily place orders without being registered. Security is our priority </p><br />
                <a href="Home/CustomerPanel" class="btn btn-primary">Customer panel</a>
            </div>
        </div>

        <br />
        <br />

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/admin.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Admin panel</h5>
                <p class="card-text">Admin can manage the shipments and search them by the consignment Id. Admins credentials are needed to log in</p>
                <a asp-controller="Admin" asp-action="Login"  class="btn btn-primary">Admin Panel</a>
            </div>
        </div>
    </div>
</div>


