
@{
}

<div class="text-center">
    <h1 class="display-4">Order Confirmation</h1>
    <small style="opacity:0.6">Courier Management System </small>
    <hr />
</div>

<h4>Your order is confirmed. A consignment number has been sent to your email. </h4>
<h5 style="opacity:0.6">example: 61cef7ab-05c9-4bfb-bbb5-b3d7c5f53089</h5>

<h4 >You can track your courier status with this consignment Id</h4>

<button class="btn btn-primary"><a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Dashboard">Done!</a></button>


