@model Courier_Management_System.Models.AddShipmentViewModel

@{
    ViewData["Title"] = "Shipment Informtaions";
   
}
 
<div class="text-center">
    <h1 class="display-4">Shipment and Customer Adding Panel</h1>
    <small style="opacity:0.6">Courier Management System </small>
    <hr />
</div>


<form method="post" asp-controller="Shipment" asp-action="Add">
    <div class="col">
        <label for="labelShipperName">Shipper Name</label>
        <input type="text" class="form-control" asp-for="ShipperName" >
        <label for="labelShipperAddress">Shipper Address</label>
        <input type="text" class="form-control" asp-for="ShipperAddress" >
        <label for="labelShipperEmail">Shipper Email</label>
        <input type="text" class="form-control" asp-for="ShipperEmail" >
        <br />
        <hr />

        <label for="labelReceiverName">Receiver Name</label>
        <input type="text" class="form-control" asp-for="ReceiverName" >
        <label for="labelReceiverAddress">Receiver Address</label>
        <input type="text" class="form-control" asp-for="ReceiverAddress" >
        <label for="labelReceiverEmail">Receiver Email</label>
        <input type="text" class="form-control" asp-for="ReceiverEmail" >

        <label for="labelShipmentStatus">Shipment Status</label>
        <input type="text" class="form-control" asp-for="ShipmentStatus" >
        <br />
        <button type="submit" class="btn btn-primary">Add New Shipment</button>
  
    </div>
</form>
